<div class="container">
    <div class="row">
        <div class="col-md-4">
          <h2><%= subdata.blogMain[0].kategori %></h2>
          <p><%= subdata.blogMain[0].keterangan%></p>
          <p><a class="btn btn-secondary" href="ctlgw" role="button">Keterangan catalog &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2><%= subdata.blogMain[1].kategori %></h2>
          <p><%= subdata.blogMain[1].keterangan %></p>
          <p><a class="btn btn-secondary" href="ctlgp" role="button">Keterangan catalog &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2><%= subdata.blogMain[2].kategori %></h2>
          <p><%= subdata.blogMain[2].keterangan %></p>
          <p><a class="btn btn-secondary" href="ctlgb" role="button">Keterangan catalog &raquo;</a></p>
        </div>
      </div>
</div>